@import "./variables";
.home {
  padding: 20px;
  flex-direction: column;
  width: -moz-available;
  background: $color-2;
  border-radius: $borderRadius;
  margin-left: 10px;
  margin-right: 10px;
  color: $color-3;

  .sectionTitle {
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: $color-3;
  }
  .presentationContainer{
     .presentationP {
    line-height: 200%;
    }

  .downloadCVButton {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: auto;
    .downloadCVLink {
      margin: 2%;
      text-decoration: none;
      font-size: 16px;
      background-color: $color-3;
      color: $white;
      padding: 15px 40px;
      /*border-style: none;*/
      border-radius: 15px;
      border: 4px solid $color-1;
      transition-duration: 300ms;
      cursor: pointer;


      &:hover,
      &:focus {
        border-radius: $borderRadius;
        border: 2px solid $color-3;
        background-color: $color-1;
        font-weight: 800;
        scale: 1.1;
      }}
}} }
@media screen and (max-width: 700px) {
  .mainAboutContainer{
    flex-direction: column;
    .home {
      width: auto;
      margin-top: 10px;
      margin-bottom: 10px;
.sectionTitle h1{
  font-size: 20px;
  font-weight : bolder;
}

    }
  }
}
