@import './variables';
@import "./navigation";
@import "footer";
@import "home";

body{
  font-family: 'Raleway', sans-serif;
  margin: 16px auto;
  max-width: 1200px;


  .mainAboutContainer {
    display: flex;

  }
  .sectionTitle {
    font-size: 26px;
    color: $black;

    h1 {
      font-weight: 500;
      border-bottom: 2px solid $black;
      padding-bottom:1px;
    }
  }
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
  :visited{
    color: $black;
  }
}

.home {
  display: flex ;
  text-align: center;

  @media screen and (max-width: 850px) {
    display: block !important;
  }
}
.homeContent {
  margin-left: 8px;

  @media screen and (max-width: 850px) {
  margin-left: 0 !important;
  }
}
